@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-login {
  background-image: url('./img-react/1303125.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}



.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}